if X86
source "drivers/platform/x86/Kconfig"
endif
if GOLDFISH
source "drivers/platform/goldfish/Kconfig"
endif

if ARCH_MSM
source "drivers/platform/msm/Kconfig"
endif

source "drivers/platform/broadcom/v4l2-driver/Kconfig"
source "drivers/platform/broadcom/wlan/bcm4359/bcmdhd/Kconfig"
